<h1>Welcome to Rock, Paper, Scissors.</h1>

<p>Please enter your choices into the URL above like so:</p>

<p>Your choices are <b>Rock, Paper or Scissors</b>.</p>

<p>Substitute your choices into the placeholders OPTION1 and OPTION2 below:</p>

<p>http://localhost:4567/OPTION1/OPTION2</p>

<p>GOOD LUCK!</p>
